In [322]:
import pandas as pd
import numpy as np
import re
df=pd.read_csv('/Users/nsearch/Desktop/HPB_ASSESMENT/Assessment_Inputs/DS3_Heartrate_duration_intervals.csv')
df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])
df.head()

           id ActivityDate                                        MVPASession
0  ec296e97c0   2019-08-29  [{"start":451;"end":459;"duration":13};{"start...
1  ec296e97c0   2019-08-27  [{"start":64;"end":65;"duration":6};{"start":4...
2  ec296e97c0   2019-08-26  [{"start":450;"end":457;"duration":12};{"start...
3  ec296e97c0   2019-08-28  [{"start":447;"end":456;"duration":14};{"start...
4  ec296e97c0   2019-01-09  [{"start":980;"end":982;"duration":7};{"start"...

## Analysis

In [16]:
df1=pd.DataFrame(df['id'].value_counts())
df1['id'].value_counts()

7    207
6    101
4     69
5     68
2     68
3     51
1     40
Name: id, dtype: int64

In [17]:
df1['id'].value_counts().sum()

604

#Single user details

In [208]:
df[df['id']=='ec296e97c0']

           id ActivityDate                                        MVPASession
0  ec296e97c0   2019-08-29  [{"start":451;"end":459;"duration":13};{"start...
1  ec296e97c0   2019-08-27  [{"start":64;"end":65;"duration":6};{"start":4...
2  ec296e97c0   2019-08-26  [{"start":450;"end":457;"duration":12};{"start...
3  ec296e97c0   2019-08-28  [{"start":447;"end":456;"duration":14};{"start...
4  ec296e97c0   2019-01-09  [{"start":980;"end":982;"duration":7};{"start"...
5  ec296e97c0   2019-08-30  [{"start":443;"end":454;"duration":16};{"start...
6  ec296e97c0   2019-08-31             [{"start":958;"end":959;"duration":6}]

In [209]:
df['MVPASession'][0]

'[{"start":451;"end":459;"duration":13};{"start":522;"end":528;"duration":11};{"start":568;"end":575;"duration":12};{"start":595;"end":604;"duration":14};{"start":622;"end":635;"duration":18};{"start":654;"end":698;"duration":49};{"start":787;"end":793;"duration":11};{"start":805;"end":812;"duration":12};{"start":857;"end":863;"duration":11};{"start":888;"end":889;"duration":6};{"start":923;"end":927;"duration":9};{"start":950;"end":951;"duration":6};{"start":958;"end":967;"duration":14};{"start":1001;"end":1004;"duration":8};{"start":1010;"end":1015;"duration":10};{"start":1072;"end":1081;"duration":14};{"start":1161;"end":1162;"duration":6};{"start":1171;"end":1179;"duration":13};{"start":1194;"end":1210;"duration":21}]'

## COnverting hours for user_id

In [232]:
#df['MVPASession'][0]
def getting_start_end_hour(input_text):
    val=re.findall(r'\{(.*?)\}', input_text)
    li=[]
    for i in val:
        d={}
        split_val=i.split(';')
        #print(split_val)
        split_val
        start=split_val[0].split(':')[1]
        end=split_val[1].split(':')[1]
        duration=split_val[2].split(':')[1]
        #print(start,end,duration)
        d['start']=int(start)
        d['end']=int(end)
        d['start_hour'] = ((int) (int(start)/(60)))%24 + 1
        d['end_hour']=((int) (int(end)/(60)))%24 + 1
        d['duration']=int(duration)
        li.append(d)
    return li

In [335]:
each_cust=getting_start_end_hour(df['MVPASession'][0])
each_cust

[{'start': 451, 'end': 459, 'start_hour': 8, 'end_hour': 8, 'duration': 13},
 {'start': 522, 'end': 528, 'start_hour': 9, 'end_hour': 9, 'duration': 11},
 {'start': 568, 'end': 575, 'start_hour': 10, 'end_hour': 10, 'duration': 12},
 {'start': 595, 'end': 604, 'start_hour': 10, 'end_hour': 11, 'duration': 14},
 {'start': 622, 'end': 635, 'start_hour': 11, 'end_hour': 11, 'duration': 18},
 {'start': 654, 'end': 698, 'start_hour': 11, 'end_hour': 12, 'duration': 49},
 {'start': 787, 'end': 793, 'start_hour': 14, 'end_hour': 14, 'duration': 11},
 {'start': 805, 'end': 812, 'start_hour': 14, 'end_hour': 14, 'duration': 12},
 {'start': 857, 'end': 863, 'start_hour': 15, 'end_hour': 15, 'duration': 11},
 {'start': 888, 'end': 889, 'start_hour': 15, 'end_hour': 15, 'duration': 6},
 {'start': 923, 'end': 927, 'start_hour': 16, 'end_hour': 16, 'duration': 9},
 {'start': 950, 'end': 951, 'start_hour': 16, 'end_hour': 16, 'duration': 6},
 {'start': 958, 'end': 967, 'start_hour': 16, 'end_hour': 17, 'duration': 14},
 {'start': 1001, 'end': 1004, 'start_hour': 17, 'end_hour': 17, 'duration': 8},
 {'start': 1010,
  'end': 1015,
  'start_hour': 17,
  'end_hour': 17,
  'duration': 10},
 {'start': 1072,
  'end': 1081,
  'start_hour': 18,
  'end_hour': 19,
  'duration': 14},
 {'start': 1161, 'end': 1162, 'start_hour': 20, 'end_hour': 20, 'duration': 6},
 {'start': 1171,
  'end': 1179,
  'start_hour': 20,
  'end_hour': 20,
  'duration': 13},
 {'start': 1194,
  'end': 1210,
  'start_hour': 20,
  'end_hour': 21,
  'duration': 21}]

In [336]:
#sam={'start': 55, 'end': 59, 'start_hour': 1, 'end_hour': 1, 'duration': 13}

endpoint=np.arange(0, 1500, 60)

lit=[]
for each_session in each_cust:
    
   
    if each_session['duration'] > 9:
        
        if each_session['start_hour']!=each_session['end_hour']:
            for i in endpoint:

                if each_session['start'] <= i <= each_session['end']:

                    first_hour_time=int(i)-each_session['start']
                    second_hour_time=each_session['duration']-first_hour_time-5
                    
                    
                    tup1=(each_session['start_hour'],first_hour_time)
                    lit.append(tup1)
                    tup2=(each_session['end_hour'],second_hour_time)
                    lit.append(tup2)

        else:
            #sess_hour_time.append(each_session['start_hour'])
            matched_tup=(each_session['start_hour'],each_session['duration']-5)  
            lit.append(matched_tup)
lit

[(8, 8),
 (9, 6),
 (10, 7),
 (10, 5),
 (11, 4),
 (11, 13),
 (11, 6),
 (12, 38),
 (14, 6),
 (14, 7),
 (15, 6),
 (16, 2),
 (17, 7),
 (17, 5),
 (18, 8),
 (19, 1),
 (20, 8),
 (20, 6),
 (21, 10)]

In [337]:
addup_values=[]
for i in each_cust:
    addup_values.append(i['start_hour'])

multiply_dict=dict(pd.Series(addup_values).value_counts())
multiply_dict

{20: 3, 16: 3, 17: 2, 15: 2, 14: 2, 11: 2, 10: 2, 18: 1, 9: 1, 8: 1}

In [338]:
from itertools import groupby
from operator import itemgetter
lit = [(8, 8), (9, 6), (10, 7), (10, 5), (11, 4), (11, 13), (11, 6), (12, 38), (14, 6), (14, 7), (15, 6), (16, 2), (17, 7), (17, 5), (18, 8), (19, 1), (20, 8), (20, 6), (21, 10)]
offset=5 # in minutes
#multiply_dict = {20: 3, 16: 3, 17: 2, 15: 2, 14: 2, 11: 2, 10: 2, 18: 1, 9: 1, 8: 1}
res = [(k, sum(list(zip(*g))[1]) + multiply_dict.get(k,0) * offset ) for k, g in groupby(lit, itemgetter(0))]
res=dict(res)
res

{8: 13,
 9: 11,
 10: 22,
 11: 33,
 12: 38,
 14: 23,
 15: 16,
 16: 17,
 17: 22,
 18: 13,
 19: 1,
 20: 29,
 21: 10}

In [334]:

new_df=pd.DataFrame(res,columns=res.keys(),index=['id'])
new_df

#new_columns=['Hr0'+str(i) if i <10 else 'Hr'+str(i) for i in np.arange(1,25)  ]
new_columns=np.arange(1,25)
s=pd.DataFrame(columns =list(new_columns ))
alll=s.append(new_df)
alll

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,11,22,...,16,17,22,13,1,29,10,NaN,NaN,NaN

In [ ]:
df['race_label'] = df.apply(label_race, axis=1)