## ASSESSMENT 1
### To find
####  (2) Participant weekly level for Use Day Step Count;
####  Total number of unique participants 5073

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import re
# read the source data
df=pd.read_csv('/Users/nsearch/Desktop/HPB_ASSESMENT/Assessment_Inputs/DS2_fitness.csv')
df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])
df.head()

list_of_activity_date=list(df['ActivityDate'])
#dictionary to convert the  week  number into days
weekday_dict = {1:'Monday', 2: 'Tuesday', 3: 'Wednesday', 4:'Thursday', 5: 'Friday', 6:'Saturday', 7:'Sunday'}
#To get the weeknum, weekdays and day 
weeknum=[]
weekday=[]
day=[]
for i in list_of_activity_date:
    
    val=i.isocalendar()[1] - i.replace(day=1).isocalendar()[1] + 1
    weekdy=i.isoweekday()
    weeknum.append(val)
    weekday.append(weekdy)
    day.append(weekday_dict.get(weekdy))
#create the new columns for weeknum,weekdays and daya   
df['weeknumber']=weeknum
df['weekday']=weekday
df['day']=day
#print(len(df))
df['StepCount'] = np.where(df.StepCount <999, 0, df.StepCount)
#print(len(df))
#pivot table to convert the required output

table = pd.pivot_table(df, values='StepCount', index=['id', 'weeknumber'], columns=['day'], aggfunc=np.sum)
table=table.reset_index()#.replace(np.nan,0)
table=table.replace(0.0,np.nan)
table['average']=np.round(table[['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']].mean(axis=1),2)
#convert into expected Format 
Req_data=table[['id','weeknumber', 'Monday','Tuesday','Wednesday','Thursday','Friday', 'Saturday', 'Sunday','average' ]].replace(np.nan,0)

col_name=[ 'Monday','Tuesday','Wednesday','Thursday','Friday', 'Saturday', 'Sunday']
new_name=['steps_Usedays_'+i for i in col_name]
Req_data=Req_data.rename(columns=dict(zip(col_name,new_name))).rename(columns={'average': 'Avg_Daily_usedays_Steps','weeknumber':'Challenge_week'}).set_index('id')
Req_data.head()

day,Challenge_week,steps_Usedays_Monday,steps_Usedays_Tuesday,steps_Usedays_Wednesday,steps_Usedays_Thursday,steps_Usedays_Friday,steps_Usedays_Saturday,steps_Usedays_Sunday,Avg_Daily_usedays_Steps
id,,,,,,,,,
0006bd6c75,1,0.0,0.0,0.0,6368.0,3262.0,2500.0,1853.0,3495.75
0006bd6c75,2,4933.0,5614.0,3626.0,2783.0,2697.0,5974.0,1926.0,3936.14
0006bd6c75,3,5915.0,2997.0,8499.0,1248.0,3089.0,1343.0,0.0,3848.50
0006bd6c75,4,0.0,0.0,3588.0,5693.0,1297.0,0.0,2453.0,3257.75
0006bd6c75,5,4234.0,9703.0,9508.0,3800.0,5075.0,3897.0,0.0,6036.17

In [2]:
Req_data.to_csv('/Users/nsearch/Desktop/HPB_ASSESMENT/Assessment_Inputs/DS2_fitness_OUTPUT.csv')